body {
  background-color: #030303;
}

.hope {
  background-color: #FFFFFF;
}

span.inter {
  position: relative;
  display: inline-block;
}

span.inter::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0.3em;
  background: #212AE3;
  z-index: -1;
  transform: translateX(0%);
  border-radius: 2px;
}

.robot {
 width: 400px;
 height: 500px;
}

.lite {
  font-size: 16px;
  color: #777777;
  font-weight: lighter;
}

.strike {
  text-decoration: line-through;
}

@media (max-width: 400px) {
  .robot {
    width: 270px;
    height: 300px;
  }
}

